.main {
  display: grid;
  min-height: 100vh;
  padding: 3rem;
  place-items: center;
}

.name {
  font-size: 4rem;
  margin-block-end: 3rem;
  max-width: 14ch;
}

.tagline {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5;
  margin-block-start: 1rem;
}

.description {
  font-family: var(--font-mono);
  font-size: 0.85rem;
  line-height: 1.8;
  margin-block-end: 3rem;
  max-width: 100ch;
  width: 100%;
}

.linkContainer {
  align-items: baseline;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  max-width: 30rem;
}

@media screen and (max-width: 46.75rem) {
  .linkContainer {
    flex-direction: column;
  }
}

.link {
  align-items: center;
  display: flex;
  padding: 1rem;
  position: relative;
}
.link:first-of-type {
  padding-inline-start: 0;
}
@media screen and (max-width: 46.75rem) {
  .link {
    padding-inline: 0;
  }
}

.link > svg {
  margin-inline-end: 0.5rem;
}
.link > h2 {
  font-size: 1.2rem;
}
